body {
      margin: 20;
      padding: 10;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background: #494949;
      color: white;
    }
header {
      text-align: center;
      padding: 20px;
      background: #000000;
      color: white;
    }
h1 {
      font-size: 48px;
      margin: 0;
}

footer {
      text-align: center;
      padding: 20px;
      background: #000000;
      color: white;
      margin-top: 20px;
}    
